#projectView {
    border: 1px solid #f00;
    /* border-radius: 4px; */
    /* filter: grayscale(100%); */
    
    /* padding: 5px;
    width: 150px; */
  }
  
#projectView:hover {
    /* box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5); */
    border: none;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* margin-bottom: 25px; */
    /* width: +10px;
    height: +10px; */
    filter: grayscale(0%);
  }

/* .form-control {
  color:black !important;
  font-family: Helvetica, Arial, sans-serif !important;
  font-weight:500 !important;
  font-size: 18px !important;
  border-radius: 5px !important;
  line-height: 22px !important;
  background-color: transparent !important;
  border:1px solid #f00 !important;
  transition: all 0.3s !important;
  padding: 13px !important;
  margin-bottom: 15px !important;
  width:100% !important;
  box-sizing: border-box !important;
  outline:0 !important;
  resize: none;
}

.form-control:focus {
  border: 1px solid #f00 !important;
  background-color: white !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  filter: grayscale(0%) !important;
  resize: none !important;
  
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif !important;
  width: 100% !important;
  background:#ff3636 !important;
  border-radius:5px !important;
  border:0 !important;
  cursor:pointer !important;
  font-size:24px !important;
  padding-top:10px !important;
  padding-bottom:10px !important;
  transition: all 0.3s !important;
  margin-top:-4px !important;
  font-weight:700 !important;
}
[type="submit"]:hover { 
  background:#f00 !important; 
} */




/*Second Css*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #F2F3EB;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase !important;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none !important;
  border: solid 2px #474544!important;
  color: #474544!important;
  cursor: pointer!important;
  display: inline-block!important;
  font-family: 'Helvetica', Arial, sans-serif!important;
  font-size: 0.875em!important;
  font-weight: bold!important;
  outline: none!important;
  padding: 20px 35px!important;
  text-transform: uppercase!important;
  -webkit-transition: all 0.3s!important;
	-moz-transition: all 0.3s!important;
	-ms-transition: all 0.3s!important;
	-o-transition: all 0.3s!important;
	transition: all 0.3s!important;
}

#form_button:hover {
  background: #474544 !important;
  color: #F2F3EB !important;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
} 