#projectView {
    border: 1px solid #f00;
    /* border-radius: 4px; */
    /* filter: grayscale(100%); */
    
    /* padding: 5px;
    width: 150px; */
  }
  
#projectView:hover {
    /* box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5); */
    border: none;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* margin-bottom: 25px; */
    /* width: +10px;
    height: +10px; */
    filter: grayscale(0%);
  }